{% extends 'base.html.twig' %}

{% block title %}
<title>Wild Series</title>
{% endblock %}
{% block header %}
{%  include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
<body>
   <h1>{{ website }} index</h1>
</body>
{% endblock %}

