{% extends 'base.html.twig' %}

{% block header %}
<div class="container">
    <nav class="navbar navbar-expand{-sm|-md|-lg|-xl} navbar-dark bg-secondary d-flex justify-content-start">   
        <a class="navbar-brand" href="/">Man</a>
        <a class="navbar-brand" href="/">On</a>
        <a class="navbar-brand" href="/">The</a>
        <a class="navbar-brand" href="/">Moon</a>
        <a class="navbar-brand" href="/">III</a>
        <a class="navbar-brand" href="/">:</a>
        <a class="navbar-brand" href="/">The</a>
        <a class="navbar-brand" href="/">Chosen</a>
    </nav>
</div>
{% endblock %}